<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Description</key>
	<string>This generates a new VIPER custom view with viewModel</string>
	<key>Summary</key>
	<string>This generates a new VIPER custom view with viewModel</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the custom view to create</string>
			<key>Identifier</key>
			<string>customViewName</string>
			<key>Name</key>
			<string>Custom view name:</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>DefaultCompletionName</key>
	<string></string>
</dict>
</plist>
